body {
    padding: 50px;
}
.warning {
    color: red;
}

.search-list {
    margin-top: 50px;
}

#table {
    table-layout: fixed;
    overflow: hidden;
}
#table th,#table td  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file {
	display:block;
	opacity:0;
	z-index:1;
	position:absolute;
}
.upload,.download {
    margin:5px;
}
