<div id="alert" class="alert alert-success <%= show %>"><%= message %></div>
<input type="hidden" id="env" value="<%= env %>"/>
<form class="form-horizontal" role="form">
    <fieldset>
        <legend>环境：</legend>
        <div class="form-group">
            <label for="select" class="col-sm-2 control-label">选择环境：</label>
            <div class="col-sm-2">
                <select id="select" class="form-control">
                </select>
            </div>
<!--             <label class="col-sm-2 control-label">选择文件：</label>
            <div class="col-sm-2">
                <input class="form-control" name="resource" id="resource" type="file" />
            </div>
            <input class="btn btn-success" id="upload" type="button" value="上传" /> -->
        </div>
    </fieldset>
</form>
<div class="form-horizontal search-list">
    <fieldset>
        <legend>文件列表：<span class="warning">(目前只支持单级目录，不支持层级目录)</legend>
    </fieldset>
    <table class="table table-bordered"  id="table">
	   <thead>
	      <tr>
	         <th style="width:10%;">id</th>
             <th style="width:5%;">ver</th>
             <th style="width:5%;">name</th>
             <th style="width:5%;">type</th>
             <th style="width:10%;">url</th>
             <th style="width:15%;">downIOS</th>
             <th style="width:15%;">downAndroid</th>
             <th style="width:10%;">signIOS</th>
	         <th style="width:10%;">signAndroid</th>
	         <th style="width:15%;">操作</th>
	      </tr>
	   </thead>
	   <tbody id="tbody">
	   </tbody>
</table>
</div>
<script type="text/javascript" src="/page/index/index.js"></script>
